### Text ###
*.doc
*.docx
*.log
*.msg
*.pages
*.rtf
*.txt
*.wpd
*.wps
*.ckpt
*.DESKTOP-9BB2DTS
*.mat
*.ckpt
*.pyc
*.nii
*.cpython-37.pyc
*.meta
*.index
*.xml
*.png
*.gz

### directories ###
logs
challenge
invivo
different_scale
original_mat
data_phase
